<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.pc_items.dao.TrialItemsEODao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.adc.da.pc_items.entity.TrialItemsEO">
        <id column="id" property="id"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="inspro_id" property="insproId"/>
        <result column="inspro_name" property="insproName"/>
        <result column="ins_std_name" property="insStdName"/>
        <result column="inspro_org_id" property="insproOrgId"/>
        <result column="inspro_org_name" property="insproOrgName"/>
        <result column="tr_running" property="trRunning"/>
        <result column="tr_gen_way" property="trGenWay"/>
        <result column="tr_candb" property="trCandb"/>
        <result column="tr_highway" property="trHighway"/>
        <result column="tr_mountain" property="trMountain"/>
        <result column="tr_ring" property="trRing"/>
        <result column="tr_cross" property="trCross"/>
        <result column="tr_totle" property="trTotle"/>
        <result column="inspro_special_require" property="insproSpecialRequire"/>
<!--        <result column="sample_id" property="sampleId"/>-->
        <result column="sample_type" property="sampleType"/>
<!--        <result column="sample_name" property="sampleName"/>-->
        <result column="CAR_ID" property="carId"/>
        <result column="CAR_NAME" property="carName"/>
        <result column="PART_ID" property="partId"/>
        <result column="PART_NAME" property="partName"/>

        <result column="remark" property="remark"/>
        <result column="vin_code" property="vinCode"/>
        <result column="vehicle_type" property="vehicleType"/>
<!--        <result column="engine_num" property="engineNum"/>-->
        <result column="engine_num" property="partEngineNo"/>
        <result column="CHASSIS_NUM" property="chassisNumber"/>
        <result column="trial_task_id" property="trialTaskId"/>
        <result column="CREATE_BY_NAME" property="createByName"/>
        <result column="REPORT_ID" property="reportId"/>
        <result column="ITEMS_STATUS" property="itemsStatus"/>
        <result column="sample_no" property="sampleNo"/>
        <result column="attach_id" property="attachId"/>
        <result column="attach_name" property="attachName"/>
        <result column="bench_org_id" property="benchOrgId"/>
        <result column="bench_org_name" property="benchOrgName"/>
        <result column="trial_num" property="trialNum"/>

        <result column="EQUIPMENT_ID" property="equipmentId"/>
        <result column="EQUIPMENT_NAME" property="equipmentName"/>
        <association property="trialReportEO" column="REPORT_ID" select="com.adc.da.trial_report.dao.TrialReportEODao.selectByPrimaryKey" />
        <collection property="saCarDataEO" column="sample_id" select="com.adc.da.car.dao.SaCarDataDAO.selectByPrimaryKey" />   <!--zq  此处台架和性能由一对一，变为了一对多将sample_id弃用拆分为样车id和零部件id，其他类型仍然沿用sample_id 查询样车对象-->
    </resultMap>

    <!-- PC_TRIAL_ITEMS table all fields -->
    <sql id="Base_Column_List">
    <!--     id, del_flag, create_time, create_by, update_time, update_by, inspro_id,
        inspro_name, ins_std_name, inspro_org_id, inspro_org_name, tr_running,
        tr_gen_way, tr_candb, tr_highway, tr_mountain, tr_ring, tr_cross, tr_totle,
        inspro_special_require, sample_id, sample_type, sample_name, remark, vin_code,
        vehicle_type, engine_num, trial_task_id,CREATE_BY_NAME ,REPORT_ID, ITEMS_STATUS,sample_no,
        attach_id, attach_name, bench_org_id, bench_org_name, trial_num  -->
        id, del_flag, create_time, create_by, update_time, update_by, inspro_id,
        inspro_name, ins_std_name, inspro_org_id, inspro_org_name, tr_running,
        tr_gen_way, tr_candb, tr_highway, tr_mountain, tr_ring, tr_cross, tr_totle,
        inspro_special_require,sample_type, remark, vin_code,
        vehicle_type, engine_num, trial_task_id,CREATE_BY_NAME ,REPORT_ID, ITEMS_STATUS,sample_no,
        attach_id, attach_name, bench_org_id, bench_org_name, trial_num,CAR_ID,CAR_NAME,PART_ID,PART_NAME,CHASSIS_NUM,EQUIPMENT_ID,EQUIPMENT_NAME
     </sql>

       <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id ${idOperator} #{id}
            </if>
            <if test="delFlag != null">
                and del_flag ${delFlagOperator} #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time ${createTimeOperator} #{createTime}
            </if>
            <if test="createBy != null">
                and create_by ${createByOperator} #{createBy}
            </if>
            <if test="updateTime != null">
                and update_time ${updateTimeOperator} #{updateTime}
            </if>
            <if test="updateBy != null">
                and update_by ${updateByOperator} #{updateBy}
            </if>
            <if test="insproId != null">
                and inspro_id ${insproIdOperator} #{insproId}
            </if>
            <if test="insproName != null">
                and inspro_name ${insproNameOperator} #{insproName}
            </if>
            <if test="insStdName != null">
                and ins_std_name ${insStdNameOperator} #{insStdName}
            </if>
            <if test="insproOrgId != null">
                and inspro_org_id ${insproOrgIdOperator} #{insproOrgId}
            </if>
            <if test="insproOrgName != null">
                and inspro_org_name ${insproOrgNameOperator} #{insproOrgName}
            </if>
            <if test="trRunning != null">
                and tr_running ${trRunningOperator} #{trRunning}
            </if>
            <if test="trGenWay != null">
                and tr_gen_way ${trGenWayOperator} #{trGenWay}
            </if>
            <if test="trCandb != null">
                and tr_candb ${trCandbOperator} #{trCandb}
            </if>
            <if test="trHighway != null">
                and tr_highway ${trHighwayOperator} #{trHighway}
            </if>
            <if test="trMountain != null">
                and tr_mountain ${trMountainOperator} #{trMountain}
            </if>
            <if test="trRing != null">
                and tr_ring ${trRingOperator} #{trRing}
            </if>
            <if test="trCross != null">
                and tr_cross ${trCrossOperator} #{trCross}
            </if>
            <if test="trTotle != null">
                and tr_totle ${trTotleOperator} #{trTotle}
            </if>
            <if test="insproSpecialRequire != null">
                and inspro_special_require ${insproSpecialRequireOperator} #{insproSpecialRequire}
            </if>
            <if test="sampleId != null">
                and sample_id ${sampleIdOperator} #{sampleId}
            </if>
            <if test="sampleType != null">
                and sample_type ${sampleTypeOperator} #{sampleType}
            </if>
            <if test="sampleName != null">
                and sample_name ${sampleNameOperator} #{sampleName}
            </if>
            <if test="remark != null">
                and remark ${remarkOperator} #{remark}
            </if>
            <if test="vinCode != null">
                and vin_code ${vinCodeOperator} #{vinCode}
            </if>
            <if test="vehicleType != null">
                and vehicle_type ${vehicleTypeOperator} #{vehicleType}
            </if>
            <if test="engineNum != null">
                and engine_num ${engineNumOperator} #{engineNum}
            </if>
            <if test="trialTaskId != null">
                and trial_task_id ${trialTaskIdOperator} #{trialTaskId}
            </if>
        </trim>
    </sql>


    <!-- 动态插入记录 主键是序列 -->
    <insert id="insertSelective" parameterType="com.adc.da.pc_items.entity.TrialItemsEO">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>
        insert into PC_TRIAL_ITEMS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="insproId != null">inspro_id,</if>
            <if test="insproName != null">inspro_name,</if>
            <if test="insStdName != null">ins_std_name,</if>
            <if test="insproOrgId != null">inspro_org_id,</if>
            <if test="insproOrgName != null">inspro_org_name,</if>
            <if test="trRunning != null">tr_running,</if>
            <if test="trGenWay != null">tr_gen_way,</if>
            <if test="trCandb != null">tr_candb,</if>
            <if test="trHighway != null">tr_highway,</if>
            <if test="trMountain != null">tr_mountain,</if>
            <if test="trRing != null">tr_ring,</if>
            <if test="trCross != null">tr_cross,</if>
            <if test="trTotle != null">tr_totle,</if>
            <if test="insproSpecialRequire != null">inspro_special_require,</if>
<!--            <if test="sampleId != null">sample_id,</if>-->
            <if test="sampleType != null">sample_type,</if>
<!--            <if test="sampleName != null">sample_name,</if>-->
            <if test="remark != null">remark,</if>
            <if test="vinCode != null">vin_code,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <!--<if test="engineNum != null">engine_num,</if>-->
            <if test="partEngineNo != null">engine_num,</if>
            <if test="chassisNumber != null">chassis_num,</if>
            <if test="trialTaskId != null">trial_task_id,</if>
            <if test="createByName != null">CREATE_BY_NAME,</if>
            <if test="reportId != null">REPORT_ID,</if>
            <if test="itemsStatus != null">ITEMS_STATUS,</if>
            <if test="sampleNo != null">sample_no,</if>
            <if test="attachId != null">attach_id,</if>
            <if test="attachName != null">attach_name,</if>
            <if test="benchOrgId != null">bench_org_id,</if>
            <if test="benchOrgName != null">bench_org_name,</if>
            <if test="trialNum != null">trial_num,</if>
            <if test="carId != null">car_id,</if>
            <if test="carName != null">car_name,</if>
            <if test="partId != null">part_id,</if>
            <if test="partName != null">part_name,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="equipmentName != null">equipment_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=VARCHAR},</if>
            <if test="delFlag != null">#{delFlag, jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime, jdbcType=VARCHAR},</if>
            <if test="createBy != null">#{createBy, jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime, jdbcType=VARCHAR},</if>
            <if test="updateBy != null">#{updateBy, jdbcType=VARCHAR},</if>
            <if test="insproId != null">#{insproId, jdbcType=VARCHAR},</if>
            <if test="insproName != null">#{insproName, jdbcType=VARCHAR},</if>
            <if test="insStdName != null">#{insStdName, jdbcType=VARCHAR},</if>
            <if test="insproOrgId != null">#{insproOrgId, jdbcType=VARCHAR},</if>
            <if test="insproOrgName != null">#{insproOrgName, jdbcType=VARCHAR},</if>
            <if test="trRunning != null">#{trRunning, jdbcType=VARCHAR},</if>
            <if test="trGenWay != null">#{trGenWay, jdbcType=VARCHAR},</if>
            <if test="trCandb != null">#{trCandb, jdbcType=VARCHAR},</if>
            <if test="trHighway != null">#{trHighway, jdbcType=VARCHAR},</if>
            <if test="trMountain != null">#{trMountain, jdbcType=VARCHAR},</if>
            <if test="trRing != null">#{trRing, jdbcType=VARCHAR},</if>
            <if test="trCross != null">#{trCross, jdbcType=VARCHAR},</if>
            <if test="trTotle != null">#{trTotle, jdbcType=VARCHAR},</if>
            <if test="insproSpecialRequire != null">#{insproSpecialRequire, jdbcType=VARCHAR},</if>
<!--            <if test="sampleId != null">#{sampleId, jdbcType=VARCHAR},</if>-->
            <if test="sampleType != null">#{sampleType, jdbcType=VARCHAR},</if>
<!--            <if test="sampleName != null">#{sampleName, jdbcType=VARCHAR},</if>-->
            <if test="remark != null">#{remark, jdbcType=VARCHAR},</if>
            <if test="vinCode != null">#{vinCode, jdbcType=VARCHAR},</if>
            <if test="vehicleType != null">#{vehicleType, jdbcType=VARCHAR},</if>
            <!--<if test="engineNum != null">#{engineNum, jdbcType=VARCHAR},</if>-->
            <if test="partEngineNo != null">#{partEngineNo, jdbcType=VARCHAR},</if>
            <if test="chassisNumber != null">#{chassisNumber, jdbcType=VARCHAR},</if>
            <if test="trialTaskId != null">#{trialTaskId, jdbcType=VARCHAR},</if>
            <if test="createByName != null">#{createByName, jdbcType=VARCHAR},</if>
            <if test="reportId != null">#{reportId, jdbcType=VARCHAR},</if>
            <if test="itemsStatus != null">#{itemsStatus, jdbcType=VARCHAR},</if>
            <if test="sampleNo !=null">#{sampleNo, jdbcType=VARCHAR},</if>
            <if test="attachId !=null">#{attachId, jdbcType=VARCHAR},</if>
            <if test="attachName !=null">#{attachName, jdbcType=VARCHAR},</if>
            <if test="benchOrgId !=null">#{benchOrgId, jdbcType=VARCHAR},</if>
            <if test="benchOrgName !=null">#{benchOrgName, jdbcType=VARCHAR},</if>
            <if test="trialNum !=null">#{trialNum, jdbcType=VARCHAR},</if>
            <if test="carId != null">#{carId, jdbcType=VARCHAR},</if>
            <if test="carName != null">#{carName, jdbcType=VARCHAR},</if>
            <if test="partId != null">#{partId, jdbcType=VARCHAR},</if>
            <if test="partName != null">#{partName, jdbcType=VARCHAR},</if>
            <if test="equipmentId != null">#{equipmentId, jdbcType=VARCHAR},</if>
            <if test="equipmentName != null">#{equipmentName, jdbcType=VARCHAR},</if>
        </trim>
    </insert>


    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.pc_items.entity.TrialItemsEO">
        update PC_TRIAL_ITEMS
        <set>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="insproId != null">
                inspro_id = #{insproId},
            </if>
            <if test="insproName != null">
                inspro_name = #{insproName},
            </if>
            <if test="insStdName != null">
                ins_std_name = #{insStdName},
            </if>
            <if test="insproOrgId != null">
                inspro_org_id = #{insproOrgId},
            </if>
            <if test="insproOrgName != null">
                inspro_org_name = #{insproOrgName},
            </if>
            <if test="trRunning != null">
                tr_running = #{trRunning},
            </if>
            <if test="trGenWay != null">
                tr_gen_way = #{trGenWay},
            </if>
            <if test="trCandb != null">
                tr_candb = #{trCandb},
            </if>
            <if test="trHighway != null">
                tr_highway = #{trHighway},
            </if>
            <if test="trMountain != null">
                tr_mountain = #{trMountain},
            </if>
            <if test="trRing != null">
                tr_ring = #{trRing},
            </if>
            <if test="trCross != null">
                tr_cross = #{trCross},
            </if>
            <if test="trTotle != null">
                tr_totle = #{trTotle},
            </if>
            <if test="insproSpecialRequire != null">
                inspro_special_require = #{insproSpecialRequire},
            </if>
<!--            <if test="sampleId != null">
                sample_id = #{sampleId},
            </if>-->
            <if test="sampleType != null">
                sample_type = #{sampleType},
            </if>
<!--            <if test="sampleName != null">
                sample_name = #{sampleName},
            </if>-->
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="vinCode != null">
                vin_code = #{vinCode},
            </if>
            <if test="vehicleType != null">
                vehicle_type = #{vehicleType},
            </if>
<!--            <if test="engineNum != null">
                engine_num = #{engineNum},
            </if>  -->
            <if test="trialTaskId != null">
                trial_task_id = #{trialTaskId},
            </if>
            <if test="createByName != null">
                CREATE_BY_NAME = #{createByName},
            </if>
            <if test="reportId != null">
                REPORT_ID = #{reportId},
            </if>
            <if test="itemsStatus != null">
                ITEMS_STATUS = #{itemsStatus},
            </if>
            <if test="sampleNo != null">
                sample_no = #{sampleNo},
            </if>
            <if test="attachId != null">
                attach_id = #{attachId},
            </if>
            <if test="attachName != null">
                attach_name = #{attachName},
            </if>
            <if test="benchOrgId != null">
                bench_org_id = #{benchOrgId},
            </if>
            <if test="benchOrgName != null">
                bench_org_name = #{benchOrgName},
            </if>
            <if test="trialNum != null">
                trial_num = #{trialNum},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除报告-->
    <update id="delReport" parameterType="java.lang.String">
        update PC_TRIAL_ITEMS set report_id = '' where report_id = #{value}
    </update>

    <!-- 根据id查询 PC_TRIAL_ITEMS -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from PC_TRIAL_ITEMS
        where id = #{value}

    </select>

    <!--根据委托id查询-->
    <select id="selectByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PC_TRIAL_ITEMS
        where trial_task_id = #{value}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PC_TRIAL_ITEMS
     where id = #{value}
  </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType="java.lang.String">
    delete from PC_TRIAL_ITEMS 
     where trial_task_id = #{value}
  </delete>

    <!-- PC_TRIAL_ITEMS 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        select count(1) from PC_TRIAL_ITEMS
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询PC_TRIAL_ITEMS列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from
        (select tmp_tb.* , rownum rn from
        (select
        <include refid="Base_Column_List"/>
        from PC_TRIAL_ITEMS
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>

    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from PC_TRIAL_ITEMS
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
    </select>

</mapper>
