<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.roadcost.dao.RoadCostDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.adc.da.roadcost.entity.RoadCostEo">
        <id column="id" property="id"/>
        <result column="ROAD_LINE" property="roadLine"/>
        <result column="CAR_TYPE" property="carType"/>
        <result column="HORSE_POWER" property="horsePower"/>
        <result column="COST" property="cost"/>
        <result column="SUP_ID" property="supId"/>
        <result column="SUP_NAME" property="supName"/>
        <result column="CONTRACT" property="contract"/>
        <result column="CONTRACT_URL" property="contractUrl"/>
    </resultMap>

    <!-- BM_SEAL table all fields -->
    <sql id="Base_Column_List">
     id, ROAD_LINE, CAR_TYPE, HORSE_POWER, COST,SUP_ID,SUP_NAME,CONTRACT,CONTRACT_URL
  </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <choose>
            <when test="searchPhrase!=null">
                <foreach collection="searchPhrase" item="search">
                    and (
                    ROAD_LINE like '%${search}%' or
                    CAR_TYPE like '%${search}%' or
                    SUP_NAME like '%${search}%' or
                    HORSE_POWER like '%${search}%'
                    )
                </foreach>
            </when>
            <otherwise>

                <trim suffixOverrides=",">
                    <if test="roadLine != null">
                        and ROAD_LINE like '%${roadLine}%'
                    </if>
                    <if test="carType != null">
                        and CAR_TYPE like '%${carType}%'
                    </if>
                    <if test="horsePower != null">
                        and HORSE_POWER like '%${horsePower}%'
                    </if>
                </trim>
            </otherwise>
        </choose>
    </sql>


    <!-- 动态插入记录 主键是序列 -->
    <insert id="insertSelective" parameterType="com.adc.da.roadcost.entity.RoadCostEo">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            select sys_guid() from dual
        </selectKey>
        insert into BM_ROAD_COST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roadLine != null">ROAD_LINE,</if>
            <if test="carType != null">CAR_TYPE,</if>
            <if test="horsePower != null">HORSE_POWER,</if>
            <if test="cost != null">COST,</if>
            <if test="supId != null">SUP_ID,</if>
            <if test="supName != null">SUP_NAME,</if>
            <if test="contract != null">CONTRACT,</if>
            <if test="contractUrl != null">CONTRACT_URL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=VARCHAR},</if>
            <if test="roadLine != null">#{roadLine, jdbcType=VARCHAR},</if>
            <if test="carType != null">#{carType, jdbcType=VARCHAR},</if>
            <if test="horsePower != null">#{horsePower, jdbcType=VARCHAR},</if>
            <if test="cost != null">#{cost, jdbcType=VARCHAR},</if>
            <if test="supId != null">#{supId, jdbcType=VARCHAR},</if>
            <if test="supName != null">#{supName, jdbcType=VARCHAR},</if>
            <if test="contract != null">#{contract, jdbcType=VARCHAR},</if>
            <if test="contractUrl != null">#{contractUrl, jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.roadcost.entity.RoadCostEo">
        update BM_ROAD_COST
        <set>
            <if test="roadLine != null">
                ROAD_LINE = #{roadLine},
            </if>
            <if test="carType != null">
                CAR_TYPE = #{carType},
            </if>
            <if test="horsePower != null">
                HORSE_POWER = #{horsePower},
            </if>
            <if test="cost != null">
                COST = #{cost},
            </if>
            <if test="supId != null">
                SUP_ID = #{supId},
            </if>
            <if test="supName != null">
                SUP_NAME = #{supName},
            </if>
            <if test="contract != null">
                CONTRACT = #{contract},
            </if>
            <if test="contractUrl != null">
                CONTRACT_URL = #{contractUrl},
            </if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BM_ROAD_COST
     where id = #{value}
  </delete>

    <!-- BM_SEAL 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        select count(1) from BM_ROAD_COST
        <include refid="Base_Where_Clause"/>
    </select>
    <!-- 查询BM_SEAL列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from
        (select tmp_tb.* , rownum rn from
        (select
        <include refid="Base_Column_List"/>
        from BM_ROAD_COST
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>

    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
        <include refid="Base_Column_List"/>
        from BM_ROAD_COST
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
    </select>
    <!--    查询路送单价-->
    <select id="getPriceByHorsePowerAndCarTypeAndRoadLine" resultType="java.lang.String">
        select cost from (select
            rownum,cost
        from
            BM_ROAD_COST
        where HORSE_POWER = #{horsePower} and CAR_TYPE = #{driveCarType} and ROAD_LINE = #{roadLine})
        where rownum = 1

    </select>

</mapper>
