<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.task.dao.SupplierTaskFinishInfoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.task.entity.SupplierTaskFinishInfoEO" >
    <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="create_by" property="createBy" />
    <result column="update_time" property="updateTime" />
    <result column="update_by" property="updateBy" />
    <result column="del_flag" property="delFlag" />
    <result column="sup_task_info_id" property="supTaskInfoId" />
    <result column="whether_exception" property="whetherException" />
    <result column="exception_description" property="exceptionDescription" />
    <result column="task_status" property="taskStatus" />
    <result column="real_people_number" property="realPeopleNumber" />
    <result column="real_work_hour" property="realWorkHour" />
    <result column="task_start_time" property="taskStartTime" />
    <result column="task_end_time" property="taskEndTime" />
    <result column="remark" property="remark" />
    <result column="attachment_id" property="attachmentId" />
    <result column="TOTAL_MANDAYS" property="totalManDays" />
  </resultMap>

    <!-- Result Map-->
    <resultMap id="SupplierTaskFinishInfoVOBaseResult" type="com.adc.da.task.vo.SupplierTaskFinishInfoVO" >
        <id column="id" property="id" />
        <result column="whether_exception" property="whetherException" />
        <result column="exception_description" property="exceptionDescription" />
        <result column="task_status" property="taskStatus" />
        <result column="real_people_number" property="realPeopleNumber" />
        <result column="real_work_hour" property="realWorkHour" />
        <result column="task_start_time" property="taskStartTime" />
        <result column="task_end_time" property="taskEndTime" />
        <result column="remark" property="remark" />
    </resultMap>

  <!-- SUP_SUPPLIER_TASK_FINISH_INFO table all fields -->
  <sql id="Base_Column_List" >
     id, create_time, create_by, update_time, update_by, del_flag, sup_task_info_id, whether_exception, exception_description, task_status, real_people_number, real_work_hour, task_start_time, task_end_time, remark, attachment_id,
     TOTAL_MANDAYS
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createBy != null" >
        and create_by ${createByOperator} #{createBy}
      </if>
      <if test="updateTime != null" >
        and update_time ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateBy != null" >
        and update_by ${updateByOperator} #{updateBy}
      </if>
      <if test="delFlag != null" >
        and del_flag ${delFlagOperator} #{delFlag}
      </if>
      <if test="supTaskInfoId != null" >
        and sup_task_info_id ${supTaskInfoIdOperator} #{supTaskInfoId}
      </if>
      <if test="whetherException != null" >
        and whether_exception ${whetherExceptionOperator} #{whetherException}
      </if>
      <if test="exceptionDescription != null" >
        and exception_description ${exceptionDescriptionOperator} #{exceptionDescription}
      </if>
      <if test="taskStatus != null" >
        and task_status ${taskStatusOperator} #{taskStatus}
      </if>
      <if test="realPeopleNumber != null" >
        and real_people_number ${realPeopleNumberOperator} #{realPeopleNumber}
      </if>
      <if test="realWorkHour != null" >
        and real_work_hour ${realWorkHourOperator} #{realWorkHour}
      </if>
      <if test="taskStartTime != null" >
        and task_start_time ${taskStartTimeOperator} #{taskStartTime}
      </if>
      <if test="taskEndTime != null" >
        and task_end_time ${taskEndTimeOperator} #{taskEndTime}
      </if>
      <if test="remark != null" >
        and remark ${remarkOperator} #{remark}
      </if>
      <if test="attachmentId != null" >
        and attachment_id ${attachmentIdOperator} #{attachmentId}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.task.entity.SupplierTaskFinishInfoEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SUP_SUPPLIER_TASK_FINISH_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into SUP_SUPPLIER_TASK_FINISH_INFO(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{createTime, jdbcType=VARCHAR}, #{createBy, jdbcType=VARCHAR}, #{updateTime, jdbcType=VARCHAR}, #{updateBy, jdbcType=VARCHAR}, #{delFlag, jdbcType=INTEGER}, #{supTaskInfoId, jdbcType=VARCHAR}, #{whetherException, jdbcType=VARCHAR}, #{exceptionDescription, jdbcType=VARCHAR}, #{taskStatus, jdbcType=VARCHAR}, #{realPeopleNumber, jdbcType=VARCHAR}, #{realWorkHour, jdbcType=VARCHAR}, #{taskStartTime, jdbcType=VARCHAR}, #{taskEndTime, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR}, #{attachmentId, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.task.entity.SupplierTaskFinishInfoEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_SUP_SUPPLIER_TASK_FINISH_INFO.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into SUP_SUPPLIER_TASK_FINISH_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="createBy != null" >create_by,</if>
                <if test="updateTime != null" >update_time,</if>
                <if test="updateBy != null" >update_by,</if>
                <if test="delFlag != null" >del_flag,</if>
                <if test="supTaskInfoId != null" >sup_task_info_id,</if>
                <if test="whetherException != null" >whether_exception,</if>
                <if test="exceptionDescription != null" >exception_description,</if>
                <if test="taskStatus != null" >task_status,</if>
                <if test="realPeopleNumber != null" >real_people_number,</if>
                <if test="realWorkHour != null" >real_work_hour,</if>
                <if test="taskStartTime != null" >task_start_time,</if>
                <if test="taskEndTime != null" >task_end_time,</if>
                <if test="remark != null" >remark,</if>
                <if test="attachmentId != null" >attachment_id,</if>
                <if test="totalManDays != null" >TOTAL_MANDAYS,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="createTime != null" >#{createTime, jdbcType=VARCHAR},</if>
                <if test="createBy != null" >#{createBy, jdbcType=VARCHAR},</if>
                <if test="updateTime != null" >#{updateTime, jdbcType=VARCHAR},</if>
                <if test="updateBy != null" >#{updateBy, jdbcType=VARCHAR},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
                <if test="supTaskInfoId != null" >#{supTaskInfoId, jdbcType=VARCHAR},</if>
                <if test="whetherException != null" >#{whetherException, jdbcType=VARCHAR},</if>
                <if test="exceptionDescription != null" >#{exceptionDescription, jdbcType=VARCHAR},</if>
                <if test="taskStatus != null" >#{taskStatus, jdbcType=VARCHAR},</if>
                <if test="realPeopleNumber != null" >#{realPeopleNumber, jdbcType=VARCHAR},</if>
                <if test="realWorkHour != null" >#{realWorkHour, jdbcType=VARCHAR},</if>
                <if test="taskStartTime != null" >#{taskStartTime, jdbcType=VARCHAR},</if>
                <if test="taskEndTime != null" >#{taskEndTime, jdbcType=VARCHAR},</if>
                <if test="remark != null" >#{remark, jdbcType=VARCHAR},</if>
                <if test="attachmentId != null" >#{attachmentId, jdbcType=VARCHAR},</if>
                <if test="totalManDays != null" >#{totalManDays, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.task.entity.SupplierTaskFinishInfoEO" >
    update SUP_SUPPLIER_TASK_FINISH_INFO
       set  create_time = #{createTime},
            create_by = #{createBy},
            update_time = #{updateTime},
            update_by = #{updateBy},
            del_flag = #{delFlag},
            sup_task_info_id = #{supTaskInfoId},
            whether_exception = #{whetherException},
            exception_description = #{exceptionDescription},
            task_status = #{taskStatus},
            real_people_number = #{realPeopleNumber},
            real_work_hour = #{realWorkHour},
            task_start_time = #{taskStartTime},
            task_end_time = #{taskEndTime},
            remark = #{remark},
            attachment_id = #{attachmentId},
            TOTAL_MANDAYS = #{totalManDays}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.task.entity.SupplierTaskFinishInfoEO" >
    update SUP_SUPPLIER_TASK_FINISH_INFO
    <set >
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
      <if test="supTaskInfoId != null" >
        sup_task_info_id = #{supTaskInfoId},
      </if>
      <if test="whetherException != null" >
        whether_exception = #{whetherException},
      </if>
      <if test="exceptionDescription != null" >
        exception_description = #{exceptionDescription},
      </if>
      <if test="taskStatus != null" >
        task_status = #{taskStatus},
      </if>
      <if test="realPeopleNumber != null" >
        real_people_number = #{realPeopleNumber},
      </if>
      <if test="realWorkHour != null" >
        real_work_hour = #{realWorkHour},
      </if>
      <if test="taskStartTime != null" >
        task_start_time = #{taskStartTime},
      </if>
      <if test="taskEndTime != null" >
        task_end_time = #{taskEndTime},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="attachmentId != null" >
        attachment_id = #{attachmentId},
      </if>
      <if test="totalManDays != null" >
        TOTAL_MANDAYS = #{totalManDays},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 SUP_SUPPLIER_TASK_FINISH_INFO -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from SUP_SUPPLIER_TASK_FINISH_INFO
     where id = #{value}

  </select>

    <!-- 根据id查询 SUP_SUPPLIER_TASK_FINISH_INFO -->
    <select id="findById" resultMap="SupplierTaskFinishInfoVOBaseResult" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from SUP_SUPPLIER_TASK_FINISH_INFO
        where SUP_TASK_INFO_ID = #{value} and rownum = 1
        order by CREATE_TIME DESC
    </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SUP_SUPPLIER_TASK_FINISH_INFO
     where id = #{value}

  </delete>

  <!-- SUP_SUPPLIER_TASK_FINISH_INFO 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from SUP_SUPPLIER_TASK_FINISH_INFO
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询SUP_SUPPLIER_TASK_FINISH_INFO列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from SUP_SUPPLIER_TASK_FINISH_INFO
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from SUP_SUPPLIER_TASK_FINISH_INFO
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
