<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.summary.dao.CostSummaryEODao">
  <resultMap id="BaseResultMap" type="com.adc.da.summary.entity.CostSummaryEO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="TRIAL_TASK_ID" jdbcType="VARCHAR" property="trialTaskId" />
    <result column="DATA_ORIGIN" jdbcType="VARCHAR" property="dataOrigin" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="CAR_TYPE" jdbcType="VARCHAR" property="carType" />
    <result column="CAR_IDS" jdbcType="VARCHAR" property="carIds" />
    <result column="CHASSIS_NO" jdbcType="VARCHAR" property="chassisNo" />
    <result column="ENGINEER" jdbcType="VARCHAR" property="engineer" />
    <result column="COST_TYPE" jdbcType="VARCHAR" property="costType" />
    <result column="TOTAL_COST" jdbcType="VARCHAR" property="totalCost" />
    <result column="TASK_DESC" jdbcType="VARCHAR" property="taskDesc" />
    <result column="TRUST_NO" jdbcType="VARCHAR" property="trustNo" />
    <result column="ITEM_NO" jdbcType="VARCHAR" property="itemNo" />
    <result column="EDIT_STATUS" jdbcType="VARCHAR" property="editStatus" />
    <result column="FORM_KEY" jdbcType="VARCHAR" property="formKey" />
    <result column="DETIAL_ID" jdbcType="VARCHAR" property="detialId" />
    <result column="SUP_ID" jdbcType="VARCHAR" property="supId" />
    <result column="SUP_NAME" jdbcType="VARCHAR" property="supName" />
    <result column="SUP_CODE" jdbcType="VARCHAR" property="supCode" />
    <result column="SUP_TYPE" jdbcType="VARCHAR" property="supType" />
    <result column="PAYMENT_COST" jdbcType="VARCHAR" property="paymentCost" />
    <result column="PAYMENT_DESC" jdbcType="VARCHAR" property="paymentDesc" />
    <result column="PAYMENT_DATE" jdbcType="VARCHAR" property="paymentDate" />
    <result column="PAYMENT_NO" jdbcType="VARCHAR" property="paymentNo" />
    <result column="PAYMENT_ID" jdbcType="VARCHAR" property="paymentId" />
    <result column="PAYMENT_STATUS" jdbcType="VARCHAR" property="paymentStatus" />
    <result column="PAYMENT_PERSON_ID" jdbcType="VARCHAR" property="paymentPersonId" />
    <result column="PAYMENT_PERSON" jdbcType="VARCHAR" property="paymentPerson" />
    <result column="ENGINEER_ID" jdbcType="VARCHAR" property="engineerId" />
    <result column="SUBMITTER" jdbcType="VARCHAR" property="submitter" />
    <result column="SUBMITTER_ID" jdbcType="VARCHAR" property="submitterId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DEL_FLAG, TRIAL_TASK_ID, DATA_ORIGIN, TASK_NAME, CAR_TYPE, CHASSIS_NO, ENGINEER, 
    COST_TYPE, TOTAL_COST, TASK_DESC, TRUST_NO, ITEM_NO, EDIT_STATUS, FORM_KEY, DETIAL_ID, 
    SUP_ID, SUP_NAME, SUP_CODE, SUP_TYPE, PAYMENT_COST, PAYMENT_DESC, PAYMENT_DATE, PAYMENT_NO, 
    PAYMENT_ID, PAYMENT_STATUS, PAYMENT_PERSON_ID, PAYMENT_PERSON, CAR_IDS, ENGINEER_ID,SUBMITTER,
    SUBMITTER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CM_COST_SUMMARY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CM_COST_SUMMARY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adc.da.summary.entity.CostSummaryEO">
    insert into CM_COST_SUMMARY (
    	ID, 
    	DEL_FLAG, 
    	TRIAL_TASK_ID, 
      	DATA_ORIGIN, 
      	TASK_NAME, 
      	CAR_TYPE, 
      	CHASSIS_NO, 
      	ENGINEER, 
      	COST_TYPE, 
      	TOTAL_COST, 
      	TASK_DESC, 
      	TRUST_NO, 
     	ITEM_NO, 
     	EDIT_STATUS, 
     	FORM_KEY, 
      	DETIAL_ID, 
      	SUP_ID, 
      	SUP_NAME, 
      	SUP_CODE, 
      	SUP_TYPE, 
      	PAYMENT_COST, 
      	PAYMENT_DESC, 
      	PAYMENT_DATE, 
      	PAYMENT_NO, 
      	PAYMENT_ID, 
      	PAYMENT_STATUS, 
      	PAYMENT_PERSON_ID, 
      	PAYMENT_PERSON,
      	CAR_IDS,
      	ENGINEER_ID,
      	SUBMITTER,
        SUBMITTER_ID
      )
    values (
    	#{id,jdbcType=VARCHAR}, 
    	#{delFlag,jdbcType=VARCHAR}, 
    	#{trialTaskId,jdbcType=VARCHAR}, 
      	#{dataOrigin,jdbcType=VARCHAR}, 
      	#{taskName,jdbcType=VARCHAR}, 
      	#{carType,jdbcType=VARCHAR}, 
      	#{chassisNo,jdbcType=VARCHAR}, 
      	#{engineer,jdbcType=VARCHAR}, 
      	#{costType,jdbcType=VARCHAR}, 
      	#{totalCost,jdbcType=VARCHAR}, 
      	#{taskDesc,jdbcType=VARCHAR}, 
      	#{trustNo,jdbcType=VARCHAR}, 
      	#{itemNo,jdbcType=VARCHAR}, 
      	#{editStatus,jdbcType=VARCHAR}, 
      	#{formKey,jdbcType=VARCHAR}, 
      	#{detialId,jdbcType=VARCHAR}, 
      	#{supId,jdbcType=VARCHAR}, 
      	#{supName,jdbcType=VARCHAR}, 
      	#{supCode,jdbcType=VARCHAR}, 
      	#{supType,jdbcType=VARCHAR}, 
      	#{paymentCost,jdbcType=VARCHAR}, 
      	#{paymentDesc,jdbcType=VARCHAR}, 
      	#{paymentDate,jdbcType=VARCHAR}, 
      	#{paymentNo,jdbcType=VARCHAR}, 
      	#{paymentId,jdbcType=VARCHAR}, 
      	#{paymentStatus,jdbcType=VARCHAR}, 
      	#{paymentPersonId,jdbcType=VARCHAR}, 
      	#{paymentPerson,jdbcType=VARCHAR},
      	#{carIds,jdbcType=VARCHAR},
      	#{engineerId,jdbcType=VARCHAR},
      	#{submitter,jdbcType=VARCHAR},
      	#{submitterId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adc.da.summary.entity.CostSummaryEO">
    insert into CM_COST_SUMMARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="trialTaskId != null">
        TRIAL_TASK_ID,
      </if>
      <if test="dataOrigin != null">
        DATA_ORIGIN,
      </if>
      <if test="taskName != null">
        TASK_NAME,
      </if>
      <if test="carType != null">
        CAR_TYPE,
      </if>
      <if test="chassisNo != null">
        CHASSIS_NO,
      </if>
      <if test="engineer != null">
        ENGINEER,
      </if>
      <if test="costType != null">
        COST_TYPE,
      </if>
      <if test="totalCost != null">
        TOTAL_COST,
      </if>
      <if test="taskDesc != null">
        TASK_DESC,
      </if>
      <if test="trustNo != null">
        TRUST_NO,
      </if>
      <if test="itemNo != null">
        ITEM_NO,
      </if>
      <if test="editStatus != null">
        EDIT_STATUS,
      </if>
      <if test="formKey != null">
        FORM_KEY,
      </if>
      <if test="detialId != null">
        DETIAL_ID,
      </if>
      <if test="supId != null">
        SUP_ID,
      </if>
      <if test="supName != null">
        SUP_NAME,
      </if>
      <if test="supCode != null">
        SUP_CODE,
      </if>
      <if test="supType != null">
        SUP_TYPE,
      </if>
      <if test="paymentCost != null">
        PAYMENT_COST,
      </if>
      <if test="paymentDesc != null">
        PAYMENT_DESC,
      </if>
      <if test="paymentDate != null">
        PAYMENT_DATE,
      </if>
      <if test="paymentNo != null">
        PAYMENT_NO,
      </if>
      <if test="paymentId != null">
        PAYMENT_ID,
      </if>
      <if test="paymentStatus != null">
        PAYMENT_STATUS,
      </if>
      <if test="paymentPersonId != null">
        PAYMENT_PERSON_ID,
      </if>
      <if test="paymentPerson != null">
        PAYMENT_PERSON,
      </if>
      <if test="carIds != null">
        CAR_IDS,
      </if>
      <if test="engineerId != null">
        ENGINEER_ID,
      </if>
      <if test="submitter != null">
        SUBMITTER,
      </if>
      <if test="submitterId != null">
        SUBMITTER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="trialTaskId != null">
        #{trialTaskId,jdbcType=VARCHAR},
      </if>
      <if test="dataOrigin != null">
        #{dataOrigin,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="chassisNo != null">
        #{chassisNo,jdbcType=VARCHAR},
      </if>
      <if test="engineer != null">
        #{engineer,jdbcType=VARCHAR},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=VARCHAR},
      </if>
      <if test="totalCost != null">
        #{totalCost,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="trustNo != null">
        #{trustNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="editStatus != null">
        #{editStatus,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null">
        #{formKey,jdbcType=VARCHAR},
      </if>
      <if test="detialId != null">
        #{detialId,jdbcType=VARCHAR},
      </if>
      <if test="supId != null">
        #{supId,jdbcType=VARCHAR},
      </if>
      <if test="supName != null">
        #{supName,jdbcType=VARCHAR},
      </if>
      <if test="supCode != null">
        #{supCode,jdbcType=VARCHAR},
      </if>
      <if test="supType != null">
        #{supType,jdbcType=VARCHAR},
      </if>
      <if test="paymentCost != null">
        #{paymentCost,jdbcType=VARCHAR},
      </if>
      <if test="paymentDesc != null">
        #{paymentDesc,jdbcType=VARCHAR},
      </if>
      <if test="paymentDate != null">
        #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null">
        #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentPersonId != null">
        #{paymentPersonId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPerson != null">
        #{paymentPerson,jdbcType=VARCHAR},
      </if>
      <if test="carIds != null">
        #{carIds,jdbcType=VARCHAR},
      </if>
      <if test="engineerId != null">
        #{engineerId,jdbcType=VARCHAR},
      </if>
      <if test="submitter != null">
        #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null">
        #{submitterId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.summary.entity.CostSummaryEO">
    update CM_COST_SUMMARY
    <set>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="trialTaskId != null">
        TRIAL_TASK_ID = #{trialTaskId,jdbcType=VARCHAR},
      </if>
      <if test="dataOrigin != null">
        DATA_ORIGIN = #{dataOrigin,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        CAR_TYPE = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="chassisNo != null">
        CHASSIS_NO = #{chassisNo,jdbcType=VARCHAR},
      </if>
      <if test="engineer != null">
        ENGINEER = #{engineer,jdbcType=VARCHAR},
      </if>
      <if test="costType != null">
        COST_TYPE = #{costType,jdbcType=VARCHAR},
      </if>
      <if test="totalCost != null">
        TOTAL_COST = #{totalCost,jdbcType=VARCHAR},
      </if>
      <if test="taskDesc != null">
        TASK_DESC = #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="trustNo != null">
        TRUST_NO = #{trustNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="editStatus != null">
        EDIT_STATUS = #{editStatus,jdbcType=VARCHAR},
      </if>
      <if test="formKey != null">
        FORM_KEY = #{formKey,jdbcType=VARCHAR},
      </if>
      <if test="detialId != null">
        DETIAL_ID = #{detialId,jdbcType=VARCHAR},
      </if>
      <if test="supId != null">
        SUP_ID = #{supId,jdbcType=VARCHAR},
      </if>
      <if test="supName != null">
        SUP_NAME = #{supName,jdbcType=VARCHAR},
      </if>
      <if test="supCode != null">
        SUP_CODE = #{supCode,jdbcType=VARCHAR},
      </if>
      <if test="supType != null">
        SUP_TYPE = #{supType,jdbcType=VARCHAR},
      </if>
      <if test="paymentCost != null">
        PAYMENT_COST = #{paymentCost,jdbcType=VARCHAR},
      </if>
      <if test="paymentDesc != null">
        PAYMENT_DESC = #{paymentDesc,jdbcType=VARCHAR},
      </if>
      <if test="paymentDate != null">
        PAYMENT_DATE = #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null">
        PAYMENT_ID = #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        PAYMENT_STATUS = #{paymentStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentPersonId != null">
        PAYMENT_PERSON_ID = #{paymentPersonId,jdbcType=VARCHAR},
      </if>
      <if test="paymentPerson != null">
        PAYMENT_PERSON = #{paymentPerson,jdbcType=VARCHAR},
      </if>
      <if test="carIds != null">
        CAR_IDS = #{carIds,jdbcType=VARCHAR},
      </if>
      <if test="engineerId != null">
        ENGINEER_ID = #{engineerId,jdbcType=VARCHAR},
      </if>
      <if test="submitter != null">
        SUBMITTER = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="submitterId != null">
        SUBMITTER_ID = #{submitterId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adc.da.summary.entity.CostSummaryEO">
    update CM_COST_SUMMARY
    set DEL_FLAG = #{delFlag,jdbcType=VARCHAR},
      TRIAL_TASK_ID = #{trialTaskId,jdbcType=VARCHAR},
      DATA_ORIGIN = #{dataOrigin,jdbcType=VARCHAR},
      TASK_NAME = #{taskName,jdbcType=VARCHAR},
      CAR_TYPE = #{carType,jdbcType=VARCHAR},
      CHASSIS_NO = #{chassisNo,jdbcType=VARCHAR},
      ENGINEER = #{engineer,jdbcType=VARCHAR},
      COST_TYPE = #{costType,jdbcType=VARCHAR},
      TOTAL_COST = #{totalCost,jdbcType=VARCHAR},
      TASK_DESC = #{taskDesc,jdbcType=VARCHAR},
      TRUST_NO = #{trustNo,jdbcType=VARCHAR},
      ITEM_NO = #{itemNo,jdbcType=VARCHAR},
      EDIT_STATUS = #{editStatus,jdbcType=VARCHAR},
      FORM_KEY = #{formKey,jdbcType=VARCHAR},
      DETIAL_ID = #{detialId,jdbcType=VARCHAR},
      SUP_ID = #{supId,jdbcType=VARCHAR},
      SUP_NAME = #{supName,jdbcType=VARCHAR},
      SUP_CODE = #{supCode,jdbcType=VARCHAR},
      SUP_TYPE = #{supType,jdbcType=VARCHAR},
      PAYMENT_COST = #{paymentCost,jdbcType=VARCHAR},
      PAYMENT_DESC = #{paymentDesc,jdbcType=VARCHAR},
      PAYMENT_DATE = #{paymentDate,jdbcType=VARCHAR},
      PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      PAYMENT_ID = #{paymentId,jdbcType=VARCHAR},
      PAYMENT_STATUS = #{paymentStatus,jdbcType=VARCHAR},
      PAYMENT_PERSON_ID = #{paymentPersonId,jdbcType=VARCHAR},
      PAYMENT_PERSON = #{paymentPerson,jdbcType=VARCHAR},
      CAR_IDS = #{carIds,jdbcType=VARCHAR},
      ENGINEER_ID = #{engineerId,jdbcType=VARCHAR},
      SUBMITTER = #{submitter,jdbcType=VARCHAR},
      SUBMITTER_ID = #{submitterId,jdbcType=VARCHAR},
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  <!-- 查询条件 -->
   <sql id="Base_Where_Clause">
       WHERE DEL_FLAG != 1
       <choose>
           <when test="searchPhrase != null">
               <foreach collection="searchPhrase" item="search">
                   AND (
	                   PAYMENT_NO LIKE '%${search}%' 
	                   OR SUP_NAME LIKE '%${search}%' 
	                   OR TASK_NAME LIKE '%${search}%' 
	                   OR ENGINEER LIKE '%${search}%' 
	                   OR CHASSIS_NO LIKE '%${search}%' 
                   )
               </foreach>
           </when>
           <otherwise>
               <if test="paymentStatus != null and paymentStatus != ''">
                   AND PAYMENT_STATUS = #{paymentStatus}
               </if>
               <if test="editStatus != null and editStatus != ''">
                   AND EDIT_STATUS = #{editStatus}
               </if>
               <if test="paymentNo != null and paymentNo != ''">
                   AND PAYMENT_NO LIKE '%${paymentNo}%'
               </if>
               <if test="supName != null and supName != ''">
                   AND SUP_NAME LIKE '%${supName}%'
               </if>
               <if test="taskName != null and taskName != ''">
                   AND TASK_NAME LIKE '%${taskName}%'
               </if>
               <if test="engineer != null and engineer != ''">
                   AND ENGINEER LIKE '%${engineer}%'
               </if>
               <if test="chassisNo != null and chassisNo != ''">
                   AND CHASSIS_NO LIKE '%${chassisNo}%'
               </if>
               <if test="costType != null and costType != ''">
                   AND COST_TYPE = #{costType}
               </if>
               <if test="paymentDate1 != null and paymentDate1 != ''">
		           AND PAYMENT_DATE <![CDATA[>=]]> #{paymentDate1}
		       </if>
		       <if test="paymentDate2 != null and paymentDate2 != ''">
		           AND PAYMENT_DATE <![CDATA[<=]]> #{paymentDate2}
		       </if>
               
           </otherwise>
       </choose>
   </sql>
  
  
    <!-- 列表总数-->
   <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
       SELECT count(1) FROM CM_COST_SUMMARY
       <include refid="Base_Where_Clause"/>
   </select>
  
   <!-- 分页查询列表 -->
   <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
       SELECT
       *
       FROM
       (SELECT tmp_tb.* , rownum rn FROM
       (SELECT
       	 <include refid="Base_Column_List" />
    		from CM_COST_SUMMARY
    	 <include refid="Base_Where_Clause"/>
       ) tmp_tb WHERE rownum &lt;= ${pager.endIndex})
       WHERE rn &gt;= ${pager.startIndex}
   </select>
<!--  根据供应商ID查询费用实体-->
  <select id="getCostSummaryEOBySupId" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from CM_COST_SUMMARY
      where SUP_ID = #{supId,jdbcType=VARCHAR}
      and TRIAL_TASK_ID = #{trialTaskId,jdbcType=VARCHAR
      and FORM_KEY = #{formKey,jdbcType=VARCHAR}
  </select>
  <!--  根据供应商ID，任务id查询未结算的费用实体-->
  <select id="getCostSummaryBySupId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CM_COST_SUMMARY
    where SUP_ID = #{supId,jdbcType=VARCHAR}
    AND TRIAL_TASK_ID = #{trialTaskId,jdbcType=VARCHAR}
    AND FORM_KEY = #{formKey,jdbcType=VARCHAR}
    AND PAYMENT_STATUS = '0'
    AND ROWNUM = 1 ORDER BY ID
  </select>
  <!--  根据供应商ID，任务id查询未结算的费用实体-->
  <select id="getCostSummaryBySupIdAndDetialId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from CM_COST_SUMMARY
    where SUP_ID = #{supId,jdbcType=VARCHAR}
    AND TRIAL_TASK_ID = #{trialTaskId,jdbcType=VARCHAR}
    AND FORM_KEY = #{formKey,jdbcType=VARCHAR}
    AND DETIAL_ID = #{detialId,jdbcType=VARCHAR}
    AND PAYMENT_STATUS = '0'
    AND ROWNUM = 1 ORDER BY ID
  </select>
  
  
  
  
  
  
  
</mapper>